/* f7f9fc */

/* Navbar */
.navbar-brand{
    color: #e85a4f;
    font-weight: 700;
}
.navbar-brand:hover{
    color: #e85a4f;
}
.form-control{
    border: none;
    background-color: #f7f9fc;
}
.form-control:focus{
    box-shadow: none;
}
.btn{
    font-size: 20px;
    color: #e85a4f;
}
.btn:hover{
    color: #ffffff;
    background-color: #e85a4f;
}
.btn:focus{
    box-shadow: none;
}
/* End Navbar */

/* Categories */
.remove-underline{
    text-decoration: none;
}
.remove-border{
    border: none;
}
/* End Categories */

/* New */
.card-title{
    cursor: pointer;
}
/* End New */


/* Amination */
.fade-out:hover{
    transform: scale(1.01);
    transition: 0.3s;
}
.card-hover:hover{
    transition: 0.3s;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px;
}
.hover-color-red:hover{
    transition: 0.3s;
    color: #e85a4f;
}
.img-hover:hover{
    transition: 0.3s ease-in-out;
    transform: scale(1.02);
}
/* End Animation */

/* Big tablet to 1200px; */
@media only screen  and (min-width:1200px){
  .nav-mobile{
      display: none;
  }
}
 
/* Small tablet to big tablet from 768x to 1023px */
@media only screen and (min-width:1023px){
    .nav-mobile{
        display: none;
    }
}
 
/* Small phones to small tablets */
@media only screen and (max-width: 767px){
    .nav-desktop{
        display: none;
    }
}
 
/* Small phones from 0 to 480px; */
@media only screen and (max-width: 480px){
    .nav-desktop{
        display: none;
    }
    
}
