/* Reset */
:root{
    --primary-color: #e85a4f;
    --background-color: #ffffff;
    --secon-color: #9da2ad;
    --grey: #7a7a7b;
    --white: #ffffff;
    --pink: #e98074;
    --black: #000000;
}
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    color: unset;
    text-decoration: none !important;
}
body,
html{
    background-color: var(--background-color);
    scroll-behavior: smooth;
    position: relative;
    overflow-x: hidden;
}
body{
  background-color: #f1f3f6;
}
.space-25-left{
    margin-left: 25px;
}
.space-50-left{
    margin-left: 50px;
}
.space-100-left{
    margin-left: 100px;
}
.space-200-left{
    margin-left: 200px;
}

/* Nav bar */
.navbar{
    background-color: var(--primary-color);
    color: var(--white);
    border: none;
}
.navbar .container-fluid{
  margin: auto 100px;
}
.navbar .container-fluid .navbar-header .navbar-brand{
    font-weight: 700;
}
/* Categories */
.categories{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    background-color: var(--white);
}
.categories .container-fluid .row .col-md-2 a{
    margin-right: 50px;
    white-space: nowrap;
    font-weight: 500;
}
/* View */
.view{
    margin: 20px;
    background-color: var(--white);
}
.view .container{
    padding: 20px;
}
.view .container .nav{
    margin-bottom: 20px;
    font-weight: 500;
}
.view .container .row{
    margin-bottom: 20px;
}
.view .container .row .col-md-3 .card{
    border-radius: 20px;
    transition: .3s ease-in-out;
}
.view .container .row .col-md-3 .card img{
    border-radius: 20px;
    height: 200px;
}
.view .container .row .col-md-3 .card .card-body{
    padding: 15px;
    height: 200px;
}
.view .container .row .col-md-3 .card .card-body .btn-primary{
    position: absolute;
    bottom: 20px;
}
.view .container .row .col-md-3 .card .card-body .btn-info{
    position: absolute;
    bottom: 20px;
    left: 150px;
}

.view .container .row .col-md-3 .card:hover{
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
        rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}




/* footer */
footer{
    bottom: 0px;
    width: 100%;
    background: #111;
    position: relative;
    z-index: 2;
  }
  .main-content{
    display: flex;
  }
  .main-content .box{
    flex-basis: 50%;
    padding: 10px 20px;
  }
  .box h2{
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
    color:var(--grey);
  }
  .box .content{
    margin: 20px 0 0 0;
    position: relative;
  }
  .box .content:before{
    position: absolute;
    content: '';
    top: -10px;
    height: 2px;
    width: 100%;
    background: #1a1a1a;
  }
  .box .content:after{
    position: absolute;
    content: '';
    height: 2px;
    width: 15%;
    background: var(--primary-color);
    top: -10px;
  }
  .left .content p{
    color:var(--grey);
    text-align: justify;
  }
  .left .content .social{
    margin: 20px 0 0 0;
  }
  .left .content .social a{
    padding: 0 2px;
    color:var(--grey);
  }
  .left .content .social a span{
    height: 40px;
    width: 40px;
    background: #1a1a1a;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.3s;
  }
  .left .content .social a span:hover{
    background: var(--primary-color);
  }
  .center .content .fas{
    font-size: 1.4375rem;
    background: #1a1a1a;
    color:var(--grey);
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
  }
  .center .content .fas:hover{
    background: var(--primary-color);
  }
  .center .content .text{
    font-size: 1.0625rem;
    font-weight: 500;
    padding-left: 10px;
    color:var(--grey);
  }
  .center .content .phone{
    margin: 15px 0;
  }
  .right form .text{
    font-size: 1.0625rem;
    margin-bottom: 2px;
    color:var(--grey);
  }
  .right form .msg{
    margin-top: 10px;
  }
  .right form input, .right form textarea{
    width: 100%;
    font-size: 1.0625rem;
    background: #151515;
    padding-left: 10px;
    border: 1px solid #222222;
  }
  .right form input:focus,
  .right form textarea:focus{
    outline-color: #3498db;
  }
  .right form input{
    height: 35px;
  }
  .right form .btn{
    margin-top: 10px;
  }
  .right form .btn button{
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.0625rem;
    font-weight: 500;
    cursor: pointer;
    transition: .3s;
  }
  .right form .btn button:hover{
    background: var(--primary-color);
    color: var(--white);
  }
  .bottom center{
    padding: 5px;
    font-size: 0.9375rem;
    background: #151515;
  }
  .bottom center span{
    color:var(--grey);
  }
  .bottom center a{
    text-decoration: none;
  }
  .bottom center a:hover{
    text-decoration: underline;
  }

  .back-to-top{
    position: fixed;
    top: 10%;
    left: 50%;
    padding: 5px;
    transform: translateX(-50%);
    border-radius: 5px;
    background-color: var(--white);
    color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    z-index: 99;
    display: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
  
  
  