/* Reset */

body {
    background: #f5f9fe;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

.form-control:focus {
    box-shadow: none;
}

.form-control-input:focus {
    border: #e85a4f 1px solid;
}

.form-select:focus {
    box-shadow: none;
}

.btn:focus {
    box-shadow: none;
}


/* End Reset */


/* Navbar */

.navbar-brand {
    color: #e85a4f;
    font-weight: 700;
}

.navbar-brand:hover {
    color: #e85a4f;
}

.search-box {
    border: none;
    background-color: #f7f9fc;
}

.search-box:focus {
    background-color: #f7f9fc;
}

.btn-search,
.btn-nav {
    font-size: 20px;
    color: #e85a4f;
    background: none;
    border: none;
    transition: 0.2s;
}

.btn-search:hover {
    color: #ffffff;
    background: #e85a4f;
    box-shadow: 0px 5px 10px rgba(253, 90, 79, 0.4);
}

.btn-nav:hover {
    color: #ffffff;
    background: #e85a4f;
    box-shadow: 0px 5px 10px rgba(253, 90, 79, 0.4);
}


/* End Navbar */

.info {
    position: -webkit-sticky;
    position: sticky;
    top: 70px;
    z-index: 99;
}


/* List */

.list-group-item,
.fa-arrow-right {
    transition: 0.2s;
}

.list-group-item:hover {
    background: #f5f9fe;
}

.list-group-item:hover .fa-arrow-right {
    transform: translateX(10px);
}


/* End List */


/* Items */

.btn-submit-new-item {
    border: #e85a4f 1px solid;
    color: #e85a4f;
    transition: 0.2s;
}

.btn-submit-new-item:hover {
    background: #e85a4f;
    color: #ffffff;
}

.img-fluid {
    height: 200px;
    width: 200px;
}

.time {
    color: #424767;
}


/* Small phones from 0 to 480px; */

@media only screen and (max-width: 480px) {
    .img-fluid {
        width: 350px;
        height: 300px;
    }
}

.form-input:focus {
    background: #ebecf1;
}

.file-upload {
    background-color: #ffffff;
    margin: 0 auto;
    padding: 20px;
}

.file-upload-btn {
    width: 100%;
    margin: 0;
    color: #fff;
    background: #e85a4f;
    border: none;
    padding: 10px;
    border-radius: 4px;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
}

.file-upload-btn:hover {
    background: #474746;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
}

.file-upload-btn:active {
    border: 0;
    transition: all .2s ease;
}

.file-upload-content {
    display: none;
    text-align: center;
}

.file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
}

.image-upload-wrap {
    margin-top: 20px;
    border: 1px dashed #e85a4f;
    position: relative;
}

.image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
}

.drag-text {
    text-align: center;
}

.drag-text h3 {
    font-weight: 100;
    text-transform: uppercase;
    color: #e85a4f;
    padding: 60px 0;
}

.file-upload-image {
    max-height: 200px;
    max-width: 200px;
    margin: auto;
    padding: 20px;
}

.remove-image {
    width: 200px;
    margin: 0;
    color: #fff;
    background: #cd4535;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #b02818;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
}

.remove-image:hover {
    background: #c13b2a;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
}

.remove-image:active {
    border: 0;
    transition: all .2s ease;
}


/* End Items */


/* Footer */

.footer {
    background: #f6f9ff;
    padding: 0 0 30px 0;
    font-size: 14px;
}

.footer .footer-top {
    border-top: 1px solid #e1ecff;
    border-bottom: 1px solid #e1ecff;
    padding: 60px 0 30px 0;
}

.footer .footer-top .footer-info {
    margin-bottom: 30px;
    text-align: justify;
}

.footer .footer-top .footer-info .logo span {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #012970;
    margin-top: 3px;
}

.footer .footer-top .footer-info p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
}

.footer .footer-top .social-links a {
    font-size: 20px;
    display: inline-block;
    color: rgba(1, 41, 112, 0.5);
    line-height: 0;
    margin-right: 10px;
    transition: 0.3s;
}

.footer .footer-top .social-links a:hover {
    color: #012970;
}

.footer .footer-top h4 {
    font-size: 16px;
    font-weight: bold;
    color: #012970;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 12px;
}

.footer .footer-top .footer-links {
    margin-bottom: 30px;
}

.footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #d0d4fc;
    font-size: 12px;
    line-height: 0;
}

.footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

.footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}

.footer .footer-top .footer-links ul a {
    color: #013289;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
}

.footer .footer-top .footer-links ul a:hover {
    color: #4154f1;
}

.footer .footer-top .footer-contact p {
    line-height: 26px;
}

.footer .copyright {
    text-align: center;
    padding-top: 30px;
    color: #012970;
}

.footer .credits {
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
    color: #012970;
}


/* End Footer */


/* Big tablet to 1200px; */

@media only screen and (min-width:1200px) {
    .for-mobile {
        display: none;
    }
}


/* Small phones from 0 to 480px; */

@media only screen and (max-width: 480px) {
    .for-desktop {
        display: none;
    }
    .info {
        position: -webkit-sticky;
        position: sticky;
        top: -100px;
    }
}