ul li{
    list-style: none;
}
ul li .active{
    color: #e85a4f;
}
a{
    color: #000;
}
a:hover{
    color: #e85a4f;
}
/* Reset */
.btn:focus{
    box-shadow: none;
}
.btn-outline-secondary {
    border-color: #dae1e7 !important;
    color: #4b566b !important;
}
.btn-outline-secondary:hover {
    color: #000;
    background-color: #f3f5f9;
    border-color: #f3f5f9;
}
.remove-border{
    border: none;
}
/* End Reset */
.nav-link-style{
    color: #e85a4f;
}
.nav-link-style:hover{
    color: #ec2213;
}
/* Big tablet to 1200px; */
@media only screen  and (min-width:1200px){
    .for-mobile{
        display: none;
    }
  }
   
  /* Small tablet to big tablet from 768x to 1023px */
  @media only screen and (min-width:1023px){
      .for-mobile{
          display: none;
      }
  }
   
  /* Small phones to small tablets */
  @media only screen and (max-width: 767px){
      .for-desktop{
          display: none;
      }
  }
   
  /* Small phones from 0 to 480px; */
  @media only screen and (max-width: 480px){
      .for-desktop{
          display: none;
      }
      
  }
  